<div class="container">
	<div class="container">
		<div class="row">
			<div class="area-top clearfix">
				<div class="pull-left header">
					<h3 class="title">
						CPU
					</h3>
					<h5>
						<span>
							CPU
						</span>
					</h5>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<h2>CPU Time Rate Graph</h2>
				<p>막대 그래프</p>
			</div>
		</div>

		<div class="container">
			<div class="box">
				<div class="box-content">
					<table class="table table-normal">
						<thead>
							<tr>
								<td></td>
								<td>Method</td>
								<td>Call Index</td>
								<td>Self %</td>
								<td>Sum %</td>
								<td>Sec</td>
							</tr>
						</thead>
						<tbody>
							<% @trace_methods.each do |trace_method| %>
								<tr>
									<td></td>
									<td><%= trace_method.name %></td>
									<td><%= trace_method.call_index %></td>
									<td><%= trace_method.self_time_rate %></td>
									<td><%= trace_method.sum_time_rate %></td>
									<td><%= trace_method.usecs %></td>
								</tr>
							<% end  %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>	
</div>