<div class="container">
	<div class="container">
		<div class="row">
			<div class="area-top clearfix">
				<div class="pull-left header">
					<h3 class="title">
						<i class="icon-dashboard"></i>
						Dashboard
					</h3>
					<h5>
						<span>
							Total progress status
						</span>
					</h5>
				</div>
			</div>
		</div>

		<div class="container padded">
			<div class="box">
				<div class="box-content">
					<div class="container">
						<div class="row">
							<div class="col-md-2">
								<div class="version">
									<h2><%= @report_latest_appversion %></h2>
								</div>
							</div>
							<div class="col-md-5">
								<div class="profiling-reports">
									<span>Profiling report number</span>
									<span><%= @profile_report_number %></span>
								</div>
								<div class="event-paths">
									<span>Event Paths(프로파일링에 사용되는 이벤트 경로 수)</span>
									<span>12</span>
								</div>
							</div>
							<div class="col-md-5">
								<div class="problems">
									<span>Problems</span>
									<span>(카테고리 아이콘)</span>
								</div>
								<div class="reporting period">
									<span>Reporting Period</span>
									<span><%= @reports_period %></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container padded">
			<h2>Event Paths used for profiling</h2>
		</div>

		<div class="container padded">
			<h2>Latest Reports of each Scenario on Current Version</h2>
			<div class="box">
				<div class="box-content">
					<table class="table table-normal">
						<thead>
							<tr>
								<td style="width:10px;"></td>
								<td><strong style="font-size: 15px;">Scenario</strong></td>
								<td style="width:150px;">Memory Leak Suspect</td>
								<td style="width:150px;">CPU Usage</td>
								<td style="width:150px;">Network Latency</td>
								<td style="width:150px;">Battery</td>
								<td style="width:150px;">Time for Profiling</td>
							</tr>
						</thead>
						<tbody>
							<% @scenarios.each.with_index do |s, i| %>
								<tr>
									<td></td>
									<td style="vertical-align:middle"><strong style="font-size: 25px;"><%= s.name %></strong>
										<p><%= s.description %></p>
									</td>
									<td><div id="g<%= i %>1" class='g'></div></td>
									<td><div id="g<%= i %>2" class='g'></div></td>
									<td><div id="g<%= i %>3" class='g'></div></td>
									<td><div id="g<%= i %>4" class='g'></div></td>
									<td>
									<div>
									<input class="knob" data-width="100" data-min="0" data-max="1000" data-displayPrevious=false value="950" readOnly="true" data-height="100"fgColor="#FF0000">
									</div></td>
								</tr>
							<% end  %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>


  <style>
      
      .g {
        width:100px; height:80px;
/*        display: inline-block;*/
        margin: 1em;
      }
        
    </style>
    
    <script>
      var g1, g2, g3, g4;
      
      window.onload = function(){
      	for (var i=0;i< <%= @scenarios.count %> ;i++)
      	{
      		var g1 = new JustGage({
          id: "g" + i + "1", 
          value: 60, 
          min: 0,
          max: 100,
          title: "Memory",
          label: "Mbyte"
        });
        
        var g2 = new JustGage({
          id: "g"+i + "2", 
          value: 10, 
          min: 0,
          max: 100,
          title: "CPU",
          label: "%"
        });
        
        var g3 = new JustGage({
          id: "g"+i + "3", 
          value: 20, 
          min: 0,
          max: 100,
          title: "Network",
          label: "ms"
        });
        
        var g4 = new JustGage({
          id: "g"+i + "4", 
          value: 30, 
          min: 0,
          max: 100,
          title: "Battery",
          label: "J"
        });
      	}
        
      };
    </script>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "jquery.knob" %>
    <script>
            $(function($) {$(".knob").knob({});  });
    </script>