<div class="container">
	<div class="container">
		<div class="row">
			<div class="area-top clearfix">
				<div class="pull-left header">
					<h3 class="title">
						scenario 
					</h3>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
			
				<div class="col-md-12" >
				
					<div class="box" >
						<div class="box-header">
							<span class="title"><i class="icon-edit"></i>Scenario Info</span>
						</div>
						<div class="box-content">
							<form class="form-horizontal fill-up validatable">
								<div class="padded">
									<div class="form-group">
										<label class="control-label col-lg-2">Scenario Name</label>
										<div class="col-sm-10">
											<span><%= @scenario.name %></span>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-lg-2">Description</label>
										<div class="col-sm-10">
											<span>
												<%= @scenario.description %>
											</span>
										</div>
									</div>
									
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div id="row">
				<div class="box">
					<div class="box-content">
						<table class="table table-normal">
							<thead>
								<tr>
									<td></td>
									<td>Type</td>
									<td>View</td>
									<td>Param</td>
									<td>SleepTime</td>
								</tr>
							</thead>
							<tbody>
							<% @records.each do |record| %>					
								<tr>
									<td><%= record.id %></td>
									<td><%= record.act_type %></td>
									<td><%= record.view %></td>
									<td></td>
									<td><%= record.param %></td>
								</tr>
							<% end  %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>

	</div>
</div>	