<div class="container">
	<div class="container">
		<div class="row">
			<div class="area-top clearfix">
				<div class="pull-left header">
					<h3 class="title">
						Report
					</h3>
					<h5>
						<span>
							Report
						</span>
					</h5>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="box">
				<div class="box-content">
					<div class="container padded">
						<div class="row">
							<div class="col-md-4">
								<div class="report-name">
									<span>Name</span>
									<span><%= @project.name %></span>
								</div>
								<div class="report-appversion">
									<span>App Version</span>
									<span><%= @report.appversion %></span>
								</div>
								<div class="report-osversion">
									<span>OS Version</span>
									<span><%= @report.osversion %></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="report-time-for-profiling">
									<span>Time for profiling</span>
									<span><%= @report.time_for_profiling %></span>
								</div>
								<div class="report-date">
									<span>Date</span> 
									<span><%= @report.created_at_date %></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>

		<div class="container">
			<h2>Event path</h2>
			<p>이벤트 패스에 대한 노드가 그려져야 (javascript)</p>
		</div>
	
		<% unless @memory.nil? %>
			<%= render "memories/memory" %>
		<% end  %>

		<% unless @cpu.nil?  %>
			<%= render "cpus/cpu" %>
		<% end  %>

		<% unless @network.nil?  %>
			<%= render 'networks/network' %>
		<% end  %>

		<% unless @battery.nil?  %>
			<%= render 'batteries/battery' %>
		<% end  %>

	</div>
</div>